.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 450px;
  gap: 30px;
  font-family: Poppins !important;
  justify-content: space-around;
}


.column {
  width: 25%;
  transition: width 0.5s;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  border-radius: 12px;
  background: #fafafa;
}
.mainImg {
  width: 200px;
  display: block;
  margin: auto;
}

@media screen and (min-width: 1025px) {
  .expanded {
    width: 150% !important;
  }
}
/* Styling for rotated text in collapsed tabs */
.collapsedTitle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  white-space: nowrap;
  color: #6f6f6fe0;
  font-size: 28px;
  text-align: center;
  z-index: 0;
}

/* Hide rotated title when expanded */
.expanded .collapsedTitle {
  display: none;
}
.expanded .flexContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  border-radius: 32px;
  padding: 8px 25px;
  border: 1px solid #0c66c9;
}
.expanded .ParentFlex {
  display: flex;
  justify-content: space-between;
}
.blueGradientText {
  background: linear-gradient(to bottom, #317fd4 0%, #002f63 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
  background-repeat: repeat;
}

.innerElement {
  opacity: 0;
  transition: opacity 0s;
  height: 100%;
  padding: 20px;
  background: url("https://site-assets.plasmic.app/5587eb5a9f6e023b876337f5b33e3b0f.svg");
  background-size: cover;
  background-position: center;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.innerElement h3 {
  color: #535353;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}
.innerElement .arrowImg {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  position: relative;
  left: auto;
  top: auto;
  width: 56px;
  height: 32px;
  flex-shrink: 0;
  margin: 0px;
}
.innerElement p {
  color: #5b5b5b;
  font-size: 16px;
}

.innerElement.active {
  opacity: 1;
  transition: opacity 0.5s 0.4s;
  display: flex;
}

.icons {
  position: absolute;
  bottom: 20px;
  left: 18px;
  font-size: 40px;
  padding: 20px;
  background: white;
  z-index: 2;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DMmotionarts {
  position: absolute;
  width: 200px;
  left: 0;
  bottom: 0;
}

@media (max-width: 1024px) {
    .main {
      flex-direction: column;
      width: 100%;
      height: max-content;
      gap: 20px;
    }
    .collapsedTitle {
      transform: translate(-50%, -50%) rotate(0deg);
      font-size: 18px;
    }
    .innerElement h3 {
        font-size: 20px;
      }
    .column {
        width: 100%;
        transition: height 0.5s;
        height: 60px;
      }
      .expanded {
        height: 450px !important;
      }
  }