/* Gradient Text */
.gradient-banner-heading {
  background:linear-gradient(to bottom, #411E67 0%, #1A0D28 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
background-repeat: repeat;
}
.gradient-heading-to-left {
  background: linear-gradient(to left, #5D08B7 0%, #DE3C98 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
background-repeat: repeat;
}
.gradient-heading-to-left-2 {
background: linear-gradient(270deg, #DE3C98 11.73%, #5D08B7 100%);
  /* background: linear-gradient(to left, #DE3C98 0%, #5D08B7 100%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-heading-to-right {
  background: linear-gradient(to right, #5D08B7 0%, #DE3C98 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
background-repeat: repeat;
}
.blue-gradient-text {
  background: linear-gradient(to bottom, #317FD4 0%, #002F63 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
background-repeat: repeat;
}

/* Gradient Button */

.gradient-button,.gradient-button:hover {
   background: linear-gradient(225deg, #5D08B7 0%, #DE3C98 100%) !important;
  color: white;
  background-origin: border-box;  /* Ensures the background covers the padding */
  background-clip: border-box;  /* Makes sure the gradient covers the whole button */
}
.gradient-banner-button ,.gradient-banner-button:hover{
   background: linear-gradient(to bottom left, #DE3C98 0%, #5D08B7 100%);
  color: white;
  background-origin: border-box;  /* Ensures the background covers the padding */
  background-clip: border-box;  /* Makes sure the gradient covers the whole button */
}
.gradient-banner-border {
  background: 
        linear-gradient(#fff, #fff) padding-box,
       linear-gradient(to top right, #DE3C98 0%, #5D08B7 100%) border-box !important;
      color: #6A6A6A;
      border: 1px solid transparent;
  }
  .gradient-border {
  background: 
        linear-gradient(#FBF5FD, #FBF5FD) padding-box,
       linear-gradient(to right, #5D08B7 0%, #DE3C98 100%) border-box !important;
      color: #313149;
      border: 1px solid transparent;
  }
  .gradient-border-white {
  background: 
        linear-gradient(#fff, #fff) padding-box,
       linear-gradient(to right, #5D08B7 0%, #DE3C98 100%) border-box !important;
      color: #313149;
      border: 1px solid transparent;
  }
  .gradient-border span div,.gradient-border-white span div{    
    background: linear-gradient(to right, #5D08B7 0%, #DE3C98 100%) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  
/* Accordion Design */
/* Hide Ant Design's default expand icon */
.ant-collapse-expand-icon {
  display: none !important;
}

/* Add a custom expand/collapse icon on the left */
.ant-collapse-header {
  position: relative;
  padding-left: 30px !important; /* Space for the icon */
}

/* Default (collapsed state) icon */
.ant-collapse-header::before {
  content: "";
  position: absolute;
  left: 10px; /* Move to the left */
  top: 50%;
  transform: translateY(-50%);
  width: 45px; /* Adjust size */
  height: 45px;
  background: url("https://site-assets.plasmic.app/3ef910f42a60bc9ed5b6bb4f3638335a.svg") no-repeat center center;
  background-size: contain;
  transition: transform 0.3s ease-in-out;
}

/* Rotate the icon when expanded */
.ant-collapse-item-active .ant-collapse-header::before {
  transform: translateY(-50%) rotate(90deg);
}

.ant-collapse-header-text{
  margin-left: 35px;
}
.ant-collapse-item __wab_instance{
  background:white !important;
  border-top: 1px solid #DBDBDB;
}
.Homepage__accordion__sWrco.__wab_instance,.ant-collapse{
  border:0px;
  background: white !important;
}

/* Border Gradient */

.gradient-box {
  background: 
        linear-gradient(#fff, #fff) padding-box,
       linear-gradient(to bottom, #E4D0F9 0%, #F9BDDF 100%) border-box !important;
      border: 1px solid transparent;
  }
  .gradient-box-2 {
  background: 
      linear-gradient(#fff, #fff) padding-box,
      linear-gradient(to top, rgba(93, 8, 183, 0.4) 0%, rgba(222, 60, 152, 0.4) 100%) border-box !important;
  border: 1px solid transparent;
}

 .gradient-header-border {
     background: 
        linear-gradient(#F6F6F6A6, #F6F6F6A6) padding-box,
       linear-gradient(to bottom, #D7D7D7 0%, #DDDDDD 100%) border-box !important;
      border: 1px solid transparent;
  }

  .Drawer__drawerContent__ogHRo.__wab_instance,.pl__fixed{
min-width:270px !important; 
}

.menu-active{
background: linear-gradient(to top right, rgba(93, 8, 183, 0.1) 0%, rgba(234, 40, 145, 0.1) 100%), #EEEEEE;
  border-radius: 12px;
  /* padding: 5px 15px; */
}
.menu-active a{
  background: linear-gradient(270deg, #DE3C98 11.73%, #5D08B7 100%);
  /* background: linear-gradient(to left, #DE3C98 0%, #5D08B7 100%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-opacity-50 {
  opacity: 0.8;
}


/* ================================ 
Global
=======================================*/
a {
text-decoration: none;
}

ul {
list-style: none;
padding-left: 0;
}

button {
cursor: pointer;
color: var(--mainColor);
}

.hidden {
display: none ;
}

.block {
display: block;
}

.h-0 {
height: 0;
}

.overflow-hidden {
overflow: hidden;
}

.absolute {
position: absolute;
}

/* ================================ 
End Global
=======================================*/

.header-gray{
background-color: #f5f5f5 !important;
height: 430px !important;
border-radius: 0 0 14px 14px ;
}
.header-gray > * {
background-color: inherit;
}

.md\:block nav,.md\:flex nav{
display: flex;
  align-items: center;
  gap: 50px;
  padding: 5px 10px;
  background: linear-gradient(#F6F6F6A6, #F6F6F6A6) padding-box, linear-gradient(to bottom, #D7D7D7 0%, #DDDDDD 100%) border-box;
  border: 1px solid transparent;
  border-radius: 14px;
}
md\:flex nav > * {
background-color: inherit;
}
nav{
padding: 5px;
}

.nav__header,.nav__header_mobile {
min-height: 50px;
position: absolute;
background-color: transparent;
border-bottom: 1px solid var(--borderColor);
width:100%;
padding: 20px 0;
}
.nav__header .container,.nav__header_mobile .container{
width:90% ; 
}
.container {
width: 100%;
margin-left: auto;
margin-right: auto;
padding-inline: 0;
}

.toolbar {
display: flex;
align-items: center;
justify-content: space-between;
gap: 1rem;
height: 50px;
}

.logo__link {
display: flex;
align-items: center;
}

.logo__link img {
width: 50px;
height: 50px;
}

.menu_icon {
border: none;
height: 45px;
width: 45px;
margin-left: -12px;
background-color: transparent !important;
}

.menu_icon:focus {
outline: none;
background-color: #d7d4d4;
border-radius: 100px;
height: 45px;
width: 45px;
}

.nav_item_content {
position: relative;
display: flex;
width: 100%;
justify-content: space-between;
border-bottom: 1px solid var(--borderColor);
height: 3rem;
}

.nav_item_content a {
 color: #6F6F6F;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  height: 100%;
  display: block;
  line-height: 45px;
  mix-blend-mode: normal;
  pointer-events: auto;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: 0px;
  cursor: pointer;
}

.nav_item_content button {
padding-inline: 0.75rem;
border: none;
background-color: white;
display: flex;
align-items: center;
}

/* .dropdown {
background-color: #fff;;
}
.md\:flex .dropdown{
background-color: #F5F5F5;
} */
.dropdown_content {
font-size: 0.875rem;
}

.dropdown_content h3 {
   font-size: 18px;
  color: #5E5E5E;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 24px;
}

.dropdown_content li {
line-height: 1.85rem;
}

.dropdown_content li a {
color: inherit;
font-weight: 400;
font-size: 16px;
text-decoration: none;
}


/* ================================ 
Mobile
=======================================*/
.mobile_navigation {
position: fixed;
z-index: 99;
}

.backdrop {
position: fixed;
inset: 0px;
background-color: rgba(0, 0, 0, 0.5);
}

.drawer_content {
background-color: white;
position: fixed;
top: 0;
right: 0;
width: 100%;
max-width: 280px;
height: 100vh;
z-index: 99;
overflow-y: auto;
transition: 0.5s;
transform: translateX(100%);
padding-left: 20px;
/* Hide scrollbar */
  scrollbar-width: none; /* Firefox */
}
.drawer_content::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.drawer_content.active {
transform: translateX(0);
}

.close_drawer {
text-align: end;
border-bottom: 1px solid var(--borderColor);
}
.close_drawer button {
padding: 12px;
border: none;
background-color: white;
}

/* ================================ 
MEDIA QUERIES
=======================================*/


@media (min-width: 1200px) {
.md\:h-auto {
  height: auto;
}

.md\:block {
  display: block;
}
.md\:flex {
  display: flex;
}
.md\:hidden {
  display: none;
}

.logo__link {
  margin-right: 1rem;
}

.nav__container > nav > ul {
  display: flex;
  align-items: center;
  line-height: 50px;
  margin:0;
  gap:2rem;
}

.nav_item_content {
  border-style: none;
  height: auto;
}

.nav_item_content a {
  padding-inline: 0.7rem;
}

.nav_item_content .md\:hidden {
  display: none;
}

.register {
  margin-left: auto;
}
.register .flex{
  gap: 15px;
}
.dropdown .dropdown-container{
  width: 100% !important;
  margin:0 !important;
}
.dropdown {
  position: absolute;
  left: 0;
  top: 40px;
  /* background-color: #f5f5f5; */
  width: 100%;
  border-bottom: 1px solid var(--borderColor);
  border-radius: 0 0 16px 16px;
  padding-top: 1.25rem;
  padding-bottom: 2rem;
  visibility: hidden;
  z-index: 10;
}

.nav__container ul li:focus-within .dropdown,
.nav__container ul li:hover .dropdown {
  visibility: visible;
}

.nav_item_content:hover a:before,
.nav_item_content .active:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid var(--mainColor);
}
.dropdown_content {
display: grid;
gap: 1.25rem;
grid-template-columns: repeat(4, 1fr); /* 3 dynamic columns + 1 fixed column */
padding-top: 20px;
}

.dropdown_content > div:nth-child(1) {
grid-column: 1; /* Always first */
}

.dropdown_content > div:nth-child(2) {
grid-column: 2; /* Always second */
}

.dropdown_content > div:nth-child(3) {
grid-column: 3; /* Always third, if exists */
}

.dropdown_content > div:last-child {
grid-column: 4; /* Last child always in the fourth column */
}


.dropdown_content h4 {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

}

@media(max-width:1200px){
  .dropdown_content h3 {
    font-size: 18px !important;  
 }
  .ant-collapse-header::before {
    width: 35px; /* Adjust size */
    height: 35px;
  }
  .ant-collapse-header-text{
    margin-left: 25px;
  }
.nav__header,.nav__header_mobile {
position: static;

}
.nav__header_mobile .container{   
width:95%;
}
.nav__header_mobile .toolbar{
flex-direction: row-reverse;
}
.dropdown {
background-color: #fff;;
}
.contactSection{
display: none !important;
}
.fixedColumn {
  width: 100%;
  gap:10px;
}
.fixedColumn p{
  font-size: 16px !important;
  line-height: 20px !important;
}
.fixedColumn img{
  width:150px;
}
}
@media(max-width:768px){
.nav__header_mobile .container{   
width:90%;
}
}
@media(min-width:1200px) and (max-width:1380px){
  .nav_item_content a {
    padding-inline: 0.2rem;
  }
}
/* ================================ 
SWiper CSS
=======================================*/
/* Swiper CSS */
.swiper-slide{
width:360px;
height:auto;
}

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled{
display: none;
}

/* Remove default Swiper arrow icons */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';  /* Remove default Swiper arrow */
  display: block;
  width: 75px;  /* Adjust size */
  height: 75px;
  background-size: contain;
  background-repeat: no-repeat;
}
.swiper-button-prev, .swiper-button-next{
height: 75px;
width: 75px;
}

/* Custom Previous Arrow */
.swiper-button-prev::after {
  background-image: url('https://site-assets.plasmic.app/446df63729b2a4b1e570d2a12db88c1a.svg'); /* Replace with your image path */
}

/* Custom Next Arrow */
.swiper-button-next::after {
  background-image: url('https://site-assets.plasmic.app/1a1d78cd6811bc49364863ac551169cd.svg'); /* Replace with your image path */
}

.swiper{
z-index: 0;
}
/* ================================ 
SWiper CSS
=======================================*/
.contactSection{
  width: 100%;
  padding: 50px 0 50px 30px;
  display: flex;
  gap:30px
}
/* Social Links */
.socialLinks {
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
}
.socialLinks img{
  width: 16px;
  height: 16px;
}
.socialLinks {
  text-decoration: none;
  color: #838383;
  display: flex;
  align-items: center;
  gap: 4px;
  border-bottom: 1px solid #494949;
  font-size: 18px;
  line-height: 22px;
}
 .fixedColumn {
  width: 100%;
  text-align: left;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap:20px;
}
.fixedColumn p{
  margin-bottom: 0;
  font-size: 18px;
  line-height: 28px;
}
.fixedColumn img{
  width:170px;
  height:50px;
}
.header-btn{
  border-radius: 9px;
padding: 0.625rem 1.25rem;
display: flex;
align-items: center;
text-decoration: none;
font-size: 1rem;
margin:0.5rem;
}